<div class="comment-cont" id="comment-<%= comment.id %>">
  <div class="about-comment">
    <p><%= link_to comment.user.username, comment.user, class:"author" %></p>  
    <%= render "likes/like_form", object: comment %>
  </div>

  <div class="comment-body">
    <p><%= comment.body %></p>
    <%= render comment.comments %>
    <div style="display: none;" id="comment-form-<%= comment.id %>">
    <%= render "comments/form", commentable: comment %>
    </div>
  </div>
  <button onclick="revealform($('#comment-form-<%=comment.id %>'))">reply</button>

</div>

<script>
function revealform(element) {
  element[0].style.display = "block";
}
</script>