<%= form_for([@post, @comment ], remote: true) do |f| %>
    <%= render "shared/error_messages", object: @comment %>
      
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>