<% provide(:title, @title) %>

<div class="row">
    <section class="user_info">
      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow" style="list-style: none;">
        <%= render @users %>
      </ul>
      <%= paginate @users%>
    <% end %>
  </div>
</div>