<div id="like_form-<%= object.class %>-<%= object.id %>">
<%= form_for(object.likes.build, remote: true) do |f| %>
    <%= hidden_field_tag :likeable_id, object.id %>
    <%= hidden_field_tag :likeable_type, object.class.name %>
    <button type="submit" class="like-btn fas fa-chevron-up"></button>
<% end %>
</div>