<div id="like_form-<%= object.class %>-<%= object.id %>">
<%= form_for(object.likes.find_by(user_id: current_user.id), html: { method: :delete }, remote: true) do |f| %>
    <input type="hidden" name="_method" value="delete">
    <%= hidden_field_tag :likeable_id, object.id %>
    <%= hidden_field_tag :likeable_type, object.class.name %>
    <button type="submit" class="like-btn fas fa-chevron-up" style="color: #c9485b;"></button>
<% end %>

</div>