<%= render "shared/oauth" %>
<%= form_with(model: user, local: true) do |form| %>
  <%= render "shared/error_messages", object: user %>
  <input name="_method" type="hidden" value="patch" />
  <div class="field">
    <%= form.text_field :username, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div class="contact-line"></div>
  <div class="field">
  <%= form.text_field :github, placeholder: "Github username" %>
  </div>

  <div class="field">
    <%= form.file_field :avatar, style:"display: none" %>
    <div onclick="upload_avatar()" class="random">
      <%= render "avatar" %>
      <p class="btn-white">Avatar</p>
    </div>
  </div>
  <div class="contact-line"></div>
  <div class="field">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>
  <div class="contact-line"></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        if ($(".avatar").length > 0) {
          $("img.avatar").attr("src", e.target.result)
        } else{
          $("svg.avatar").replaceWith(
            $("<img/>", {
              "src": e.target.result,
              "css": {
                "width": "250",
                "height": "250",
                "border-radius": "125"
              }
            })
        )}
      }
      reader.readAsDataURL(input.files[0]);
  }
}

function upload_avatar() {
    $("#user_avatar").click();
}

$("#user_avatar").change(function() {
  readURL(this);
})
</script>