<%= form_with(model: user, local: true) do |form| %>
  <%= render "shared/error_messages", object: user %>
  <div class="field">
    <%= form.text_field :username, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div class="contact-line"></div>
  <div class="field">
  <%= form.text_field :github, placeholder: "Github username" %>
  </div>
  <% unless current_page?(:action => "new") %>
    <div class="field">
      <%= form.file_field :avatar, style:"display: none" %>
      <div class="random">
        <%= render "avatar", user: @user %>
        <p class="btn-white">Avatar</p>
      </div>
    </div>
  <% end %>
  <div class="contact-line"></div>
  <div class="field">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>
  <div class="contact-line"></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag "user-avatar" %>