<%= form_with(model: user, local: true) do |form| %>
  <%= render "shared/error_messages", object: user %>
  <div class="field">
    <%= form.text_field :username, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div class="contact-line"></div>
  <div class="field">
  <%= form.text_field :github, placeholder: "Github username" %>
  </div>
  <% unless current_page?(:action => "new") %>
    <div class="field">
      <%= form.file_field :avatar, style:"display: none" %>
      <div onclick="upload_avatar()" class="random">
        <%= render "avatar" %>
        <p class="btn-white">Avatar</p>
      </div>
    </div>
  <% end %>
  <div class="contact-line"></div>
  <div class="field">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>
  <div class="contact-line"></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        let image_avatar = $("img.avatar");
        if (image_avatar.length > 0) {
          image_avatar.attr("src", e.target.result);
          image_avatar.addClass("local-avatar")
        } else {
          $("svg.avatar").replaceWith(
            $("<img/>", {
              "src": e.target.result,
              "class": "avatar local-avatar",
              "css": {
                "width": "100",
                "height": "100",
                "border-radius": "125"
              }
            })
        )}
      }
      reader.readAsDataURL(input.files[0]);
  }
}

function upload_avatar() {
    $("#user_avatar").click();
}

$("#user_avatar").change(function() {
  readURL(this);
})

$("#user_github").change(function() {
  if ($("img.local-avatar").length == 0) {
    if ($(".avatar").length > 0) {
      replaceWithGithub($(".avatar"));
    }  
  }
})

function replaceWithGithub(img) {
  img.replaceWith(
    $("<img/>", {
      src: "https://github.com/" +  $("#user_github").val() + ".png",
      class: "avatar",
      width: "100",
      height: "100"
    }))
}
</script>