<%= provide(:title, "Users") %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <template v-show="show" v-on:click="show = !show">
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, "v-on:click": "show = !show" %></td>
      </tr>
      </template>
    <% end %>
  </tbody>
</table>

<br>
<section class="stats">
<%= render 'shared/stats' %>
</section>
<%= link_to 'New User', new_user_path %>
