<%= provide(:title, @user.username) %>

<div class="user-cont">
<div class='about-user'>
<%= render 'relationships/follow_form', object: @user if current_user %>

  <h1><%= @user.username %></h1>
  <% if !@user.github.blank? %> 
    <a href="https://github.com/<%= @user.github %>" target="_blank" rel="noopener" style="margin: 10px 0px" class="fab fa-github"></a>
  <% end %>

  <%= render "shared/stats" %>
  <h2>Projects</h2>
  <% @user.projects.each do |project| %>
    <h2><%= link_to project.name, project_url(project)  %></h2>
  <% end %>
  <br>
  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn-white" %>
  <% end %>
</div>
<div class="posts">
  <%= render "avatar", user: @user %>
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ul>
      <%= render @posts %>
    </ul>
    <%= paginate @posts %>
  <% end %>
</div>
</div>