<%= provide(:title, @user.username) %>

<%= render 'follow_form' if logged_in? %>
<div class='about-user'>
  <h1><%= @user.username %></h2>
  <a class="fa fa-github" href="https://github.com/<%= @user.github %>" target="_blank" rel="noopener"></a>
</div>  
<%= render "shared/stats" %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
