<%= provide(:title, @user.username) %>

<div class="user-cont">
<div class='about-user'>
<%= render 'follow_form' if current_user %>

  <h1><%= @user.username %></h1>
  <% if @user.github %> 
    <a href="https://github.com/<%= @user.github %>" target="_blank" rel="noopener" style="margin: 10px 0px" class="fab fa-github"></a>
  <% end %>

  <%= render "shared/stats" %>
  <h2>Projects</h2>
  <br>
  <% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn-white" %>
  <% end %>
</div>
<div class="posts">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ul>
      <%= render @posts %>
    </ul>
    <%= will_paginate @posts %>
  <% end %>
</div>
</div>