<div id="contact-section">
<div id="contact">
<h2>Contact Us</h2>
<p>Send us a message if you have any feedback or if you noticed anything we should know.</p>
  <%= form_for Contact.new, :html => {:class => 'form-horizontal' } do |f| %>
    <div id="flex-fields">
      <div id="flex-field-1">
        <%= f.text_field :name, :required => true, placeholder: "Your name" %>
        <%= f.email_field :email, :required => true, placeholder: "Your email" %>
      </div>
      <div id="flex-field-2">
        <%= f.text_area :message, :required => true, placeholder: "Your message" %>
      </div>
    </div>
    <div hidden>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>
      <%= f.submit 'Send' %>
  <% end %>
</div>

<script>
var client = algoliasearch("DDBD0ATDG9", "19016027dabb4420eb74f6cd7463e2c1");
var index = client.initIndex('Post_dev');
index.search('ss', { hitsPerPage: 10, page: 0 })
  .then(function searchDone(content) {
    console.log(content.hits[0])
  })
  .catch(function searchFailure(err) {
    console.error(err);
  });
</script>