<div class="project">
  <div class="project-info">
    <%= render "logo" %>
    <div class="project-text">
      <h1><%= @project.name %></h1>
    </div>
  </div>
  <div class="project-form">
  <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <h3>Name</h3>
        <%= f.text_field :name %>
        <h3>Description</h2>
        <%= f.text_area :description, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"' %>
        <h3>Website</h3>
        <%= f.url_field :url %>
        <h3>Source Code URL</h3>
        <%= f.url_field :source %>
        <%= f.file_field :logo, style: "display: none" %>
      </div>
      <br>
      <%= f.submit "Post", class: "btn-red" %>
    <% end %>
  </div>
</div>

<script>

$(".project-logo").click(function() {
    $("#project_logo").click()
})
function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        if ($("img.project-logo").length > 0) {
          $("img.project-logo").attr("src", e.target.result)
        } else {
          $("svg.project-logo").replaceWith(
            $("<img/>", {
              "src": e.target.result,
              "class": "project-logo",
              "css": {
                "width": "100",
                "height": "100",
              }
            })
        )}
      }
      reader.readAsDataURL(input.files[0]);
  }
}

$("#project_logo").change(function() {
  readURL(this);
})

</script>