<div class="project">
  <div class="project-info">
    <%= render "logo" %>
    <div class="project-text">
      <h1><%= @project.name %></h1>
    </div>
  </div>
  <div class="project-form">
  <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <h3>Name</h3>
        <%= f.text_field :name %>
        <h3>Description</h2>
        <%= f.text_area :description, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"' %>
        <h3>Website</h3>
        <%= f.url_field :url %>
        <h3>Source Code URL</h3>
        <%= f.url_field :source %>
        <%= f.file_field :logo, style: "display: none" %>
      </div>
      <br>
      <%= f.submit "Post", class: "btn-red" %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "project-logo" %>
<script>
window.onload = function() {
  let textarea = document.getElementById("project_description")
  textarea.style.height = textarea.scrollHeight + "px"
}
</script>