<%= provide(:title, @project.name) %>
<div class="project">
  <div class="project-info">
      <div class="project-logo">
        <svg data-jdenticon-value="<%= @project.name %>a" width="110" height="110"></svg>
      </div>
  
  <div class="project-text">
    <%= render 'relationships/follow_form', object: @project if current_user %>
    <h2><%= @project.name %></h2>
    <span><%= link_to @project.user.username, @project.user, class:"author" %></span>
    <% if @project.user.github %>
      <a href="https://github.com/<%= @project.user.github %>" target="_blank" rel="noopener" class="fab fa-github"></a>
    <% end %>
  </div>
  </div>

  <%= render "shared/stats" %>
  <p class="timestamp">
  Posted <%= time_ago_in_words(@project.created_at) %> ago.
 </p>

  <%= render "likes/like_form", object: @project %>
  <p>
    <%= @project.description %>
  </p>
  <% if @project.user == current_user %>
    <%= link_to "Edit", edit_project_path(@project), class: "btn-white" %>
  <% end %>
</div>