<li id="post-<%= post.id %>">
  <h2><%= link_to post.title, post_path(post) %></h2>
  <span class="post-content">
    <%= post.excerpt.html_safe %>
    <br><br>
    <% if post.body.length > 150 %>
      <a href='/posts/<%= post.url %>' class='btn-white'>See more</a>
    <% end %>
    <% if post.user == current_user || current_user&.role == "admin" %>
      <%= button_to "Delete", post, method: :delete, class: "btn-white"  %>
    <% end %>
    <br><br>
    <p class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    </p>
  </span>
  </span>
</li>