<%= provide(:title, @post.title) %>
<div class="post">
  <h2><%= @post.title %></h2>
  <span><%= link_to @post.user.username, @post.user, class:"author" %></span>
  <% if @post.user.github %>
    <a href="https://github.com/<%= @post.user.github %>" target="_blank" rel="noopener" class="fab fa-github"></a>
  <% end %>
  <p class="timestamp">
  Posted <%= time_ago_in_words(@post.created_at) %> ago.
 </p>

  <%= render "likes/like_form" %>
  <span class="post-content">
    <%= @post.html_processed %>
  </span>
  <% if @post.user == current_user %>
    <%= link_to "Edit", edit_post_path(@post.url), class: "btn-white" %>
  <% end %>
</div>