<%= form_for @user_zero do |f| %>
    <% if @user_zero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_zero.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user_zero.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.email_field :email, class: 'beta', placeholder: "Your email" %>
    <div class="actions">
        <br>
        <%= f.submit 'Subscribe for updates', class: "signup-btn cta" %>
    </div>
<% end %> 