<%= form_tag user_sessions_path, :method => :post do %>
    <div class="field">
      <%= text_field_tag :username, nil, placeholder: "Username" %>
    </div>
    <div class="field">
      <%= password_field_tag :password, nil, placeholder: "Password" %>
    </div>
    <%= check_box_tag :remember, params[:remember], true %>
    <%= label_tag :remember %>
    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>