<nav>
    <ul>
        <li class="left"><a href="<%= root_url %>"><%= image_tag "logo.png", alt: "logo", width: "150", class: "logo" %></a></li>
        <li class="right"><%= link_to "Discuss", "/discuss", class: "links" %></li>

    </ul>
</nav>
<div>
<% flash.each do |message_type, message| %>
    <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>