<nav>
    <ul>
        <li class="left"><a href="<%= root_url %>"><%= image_tag "logo.png", alt: "logo", width: "150", class: "logo" %></a></li>
        <% if current_user %>
            <li class="right"><%= link_to "New Post", "/posts/new", class: "links" %></li>
            <li class="right"><%= link_to "Edit Profile", edit_user_path(current_user.id), class: "links" %></li>
            <li class="right"><%= button_to 'Log out', "/logout?return_to=#{request.path}", method: :delete, class: "links" %></li>
        <% else %>
            <li class="signup-btn right"><%= link_to "Signup", new_user_path, class: "links" %></li>
            <li class="right"><%= link_to "Login", "/login?return_to=#{request.path}", class: "links" %></li>
        <% end %>
    </ul>
</nav>
<div>
<% flash.each do |message_type, message| %>
    <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>